body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1rem black solid;
}


section{
    display: flex;
    flex-direction: column;
    /* border: 1rem blue solid; */
    width: 60%;
}

.floors{
    border-bottom: 0.1rem red solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 1rem; */
    /* height: 6rem; */
    height: 100px
    /* position: relative; */
    
}

.lift{
   /* background-color: turquoise; */
   width: 50px;
   height: 80px;
   display: flex;
   flex-direction: row;
   border: 1px solid red;
   background-color: turquoise;
   /* position: absolute; */
   /* height: 4rem; */
   /* border: 0.063 solid black; */
   /* padding: 0.625rem; */
   /* margin: 0.625rem; */

}
.upAndDown{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.liftContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    /* position: relative; */
    /* align-items: center; */
    /* background-color: blue; */
}
/* */


.floorName{
    
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    
}

.door-left{
    /* border: 1px black solid; */
    width: 100%;
    height: 100%;  
    background-color: red;
    animation: slideLeft 4s ;
    
}

@keyframes slideLeft{
    0% {
        background-color: red; /* Initial color */
        width: 100%;
    }
    50%{
        background-color: red;
        width: 0%;
    }
    100% {
        background-color: red; /* Color returning */
        width: 100%;
    }
}


.door-right{
    /* border: 1px black solid; */
    width: 100%;
    height: 100%;
    animation: slideRight 4s ;
    /* background-color: blue; */
    

}














