body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1rem black solid;
}


section{
    display: flex;
    flex-direction: column;
    /* border: 1rem blue solid; */
    width: 60%;
}

.floors{
    border-bottom: 0.1rem red solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 6rem;
    /* position: relative; */
    
}

.lift{
   background-color: turquoise;
   width: 3rem;
   height: 6rem;
   /* position: absolute; */
   /* height: 4rem; */
   /* border: 0.063 solid black; */
   /* padding: 0.625rem; */
   /* margin: 0.625rem; */

}
.upAndDown{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.liftContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    /* align-items: center; */
    /* background-color: blue; */
}
.box {
    width: 1rem;
    height: 3rem;
    border: 1px solid black;
  }


.floorName{
    
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    
}