/* html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.flexClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: red; */
}


.btn{
    font-weight:bolder
    
}
form{
    border: 0.2rem black solid;
    padding: 2rem;
}

#myDiv{
    background-color: black;
    padding-top: 2rem;

}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section{
    display: flex;
    flex-direction: column;
    /* border: 1rem blue solid; */
    width: 100%;
    border: 1px solid black;
}


.floors{
    border-bottom: 0.1rem black solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 99px;
    z-index: 2;
    
}

.lift{
   /* background-color: turquoise; */
   width: 50px;
   height: 80px;
   display: flex;
   flex-direction: row;
   /* border: 1px solid red; */
   background-color: blueviolet
   /* position: absolute; */
   /* height: 4rem; */
   /* border: 0.063 solid black; */
   /* padding: 0.625rem; */
   /* margin: 0.625rem; */

}

@media screen and (max-width: 1000px){
    .lift{
        width: 25px;
        height: 40px;
        display: flex;
        flex-direction: row;
        background-color: blueviolet
     }


}

.upAndDown{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 5rem;
    justify-content: space-around;
    
    /* border-right: 1px black solid; */
}

/* @media screen and (max-width:1000px) {
    .upAndDown{
    
        display: flex;
        flex-direction: column;
        margin: 1rem;
        width: 2.5rem;
        justify-content: space-around;
        
    }
    
} */


.liftContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-image: url(./background.jpg);
    z-index: 1;
    /* position: relative; */
    /* align-items: center; */
    /* background-color: blue; */
}
/* */


.floorName{
    
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    font-weight: bolder;
    
}

@media screen and (max-width:1000px) {
    .floorName{
    
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1rem;
        font-size: 10px;


        
    }
    
}

.door-left{
    /* border: 1px black solid; */
    width: 50%;
    height: 100%;  
    background-color: black
    /* animation: slideLeft 4s ; */
    
}




.door-right{
    /* border: 1px black solid; */
    width: 50%;
    height: 100%;
    background-color: black
    /* animation: slideRight 4s ; */
    /* background-color: blue; */
    

}



.backbutton{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

button{
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid blueviolet;
    color: black;
    height: 1.5rem;
    width: 4rem;
    font-weight: bolder;
}

/* @media screen and (max-width:1000px) {
    button{
    
        background-color: transparent;
        /* border-radius: 50px; */
        /* border: 1px solid blueviolet;
        color: black;
        height: 1.5rem;
        width: 2rem;
        font-size: 8px;
        
    } */
    
/* } // */

.backbut{
    height: 2rem;
}










