.flexClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    border: 0.2rem black solid;
    padding: 2rem;
}

#myDiv{
    background-color: black;
    padding-top: 2rem;

}